/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background: #9ac0eb;
  background: linear-gradient(282deg, #496374 0%, #7dc2ea);
}
.box {
  max-width: 600px;
  background: #fcfcfc;
  padding: 50px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.upload-area-title {
  font-size: 20px;
  font-weight: 600;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 20px;
}
.uploadlabel {
  width: 100%;
  min-height: 100px;
  background: #18a7ff0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #18a7ff82;
  cursor: pointer;
}
.uploadlabel span{
  font-size: 70;
  color: #9ac0eb;
}
.uploadlabel p{
  font-size: 16px;
  font-weight: 400;
  color: #9ac0eb;
  margin: 0;
}
.analyzelabel{
  width: 100%;
  min-height: 30px;
  font-size: small;
  background: #2e688e6f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px #28394382;
  cursor: pointer;
  border-radius: 10px;
  gap: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.textarea {
  width: 100%;
  min-height: 30rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
}
.result-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background: #9ac0eb;
  background: linear-gradient(282deg, #496374 0%, #7dc2ea);
}
.upload-successful-title {
  font-size: 18px;
  font-weight: 400;
  color: #eeeaea;
  text-align: center;
  margin-bottom: 20px;
}
.results{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 20px;
}
.uploaded{
  margin: 30px 0;
  font-size: 16px;
  font-weight: 700;
  color: #a5a5a5
}
.showfilebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0;
  box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
}
.showfilebox .left{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.filetype{
  background: #0a3e5f;
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.left h3{
  font-size: 14px;
  font-weight: 400;
  color: #292f42;
  margin: 0;
}
.right span{
  background: #292f42;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;
}
