<html>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
      th{color:#fff;}
   </style>

   <table class="table table-striped">
      <tr  class="bg-info">
         <th>Chemical Name</th>
         <th>Chemical Property</th>
         <th>Chemical Hazard</th>
      </tr>
      <tbody id="myTable"></tbody>
   </table>
   <p hidden id="yourData">{{result}}</p>
   <script>
      // var myArray = document.getElementsByName('resultData')[0].content;
      const myInput = document.getElementById('yourData').innerHTML;
      const myArray = JSON.parse(myInput)
      buildTable(myArray)

      function buildTable(data){
         var table = document.getElementById('myTable')
      
         for (var i = 0; i < data.length; i++){
               var row = `<tr>
                           <td>${data[i].chemical_name}</td>
                           <td>${data[i].chemical_property}</td>
                           <td>${data[i].chemical_hazard}</td>
                           </tr>`
               table.innerHTML += row
         }
      }

   </script>
</html>